body
{
	width:99%;
    height:auto;
    background:linear-gradient(#333333,#595959);
}
#main
{
    background-color:white;
    width:90%;
    height:auto;
    margin-top:10%;
    margin-left:3%;
    border-radius: 30px;
}
.question
{
	height:330px;
	width:90%;
	border:1px solid;
	margin-top: 10px;
}
h1
{
	height:45px;
	width:100%;
	border:1px solid;
	text-align:center;
}
#radioDiv
{
	height: 40px;
    width: 37%;
    border: 1px solid;
    margin-left: 113px;
    margin-top: 4px;
    float: left;
}
.answer
{
	float:left;
	height:100px;
	width:100%;
	border: 1px solid;
}
.next , .display , .preview , .submit , .startOver, .end
{
height: 30px;
    width: 18%;
    margin-left: 45px;
    margin-top: 25px;
}
